body {
    font-family: sans-serif;
}
header {border:5px solid blue;
border-radius: 10px;
padding: 15px;
color:navy ;}
header a{text-decoration: none;
background-color: navy;
color: white;
border-radius: 10px;
padding: 10px;
}
h1 {text-align: center;
color:navy ;
background-color: rgb(127, 212, 254);
border-radius: 10px;}
footer p{border: 2px solid grey;
padding: 3px;

}
select{background-color: aquamarine;}
.production p {
    border: 2px solid navy;
}
main a{text-decoration: none;
border:3px solid navy;
padding: 10px;}
h2{color: blue;}
